@model IEnumerable<MrDelivery.ViewModels.OrderViewModel>
@{
    Layout = "~/Views/Shared/_OrderLayout.cshtml";
    ViewData["Title"] = "My Order History";
}

<style>
    .textSize {
        font-weight: 900;
    }
</style>
<div class="container">
    <br/>
    <h1>@ViewData["Title"]</h1>
    <article class="row">
        <section class="col-xs-2 textSize">Order Number</section>
        <section class="col-xs-2 textSize">OrderName</section>
        <section class="col-xs-4 textSize">Date</section>
        <section class="col-xs-2 textSize">Status</section>
        <section class="col-xs-1 textSize">Delivery</section>
    </article>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <article class="row">
                <section class="col-xs-2">@Html.DisplayFor(model => item.Id)</section>
                <section class="col-xs-2">@Html.DisplayFor(model => item.OrderName)</section>
                <section class="col-xs-4">@Html.DisplayFor(model => item.dateTimeOffset)</section>
                <section class="col-xs-2">@Html.DisplayFor(model => item.Status)</section>
                <section class="col-xs-2">@Html.DisplayFor(model => item.Delivery) <span>minutes</span></section>
            </article>
            
        }
    }
</div>
