@model IEnumerable<ApplicationCore.Entities.Restaurants>

@{
    ViewData["Title"] = "Restaurants";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}
<style>
    .item-thumbnail {
        max-width: 370px;
        width: 100%;
    }

    .index-wrap {
        position: relative;
        display: inline-block;
        /*border: 2px solid #00ff90;*/
        border-radius: 8px;
        height: 300px;
        width: 510px;
        padding: 20px;
        margin: 0 -75px -10px 0;
        margin-left: 55px;
    }

    .innerDiv {
        color: #000000;
        border: 1px solid #c4c4c4;
        border-radius: 8px;
        margin-top: -1px;
        width: 100.5%;
        padding: 5px;
    }

    #myImg {
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s;
    }

    .topDiv {
        width: 100%;
        border-radius: 4px;
        height: 200px;
        padding: 1px;
    }

    .index-wrap > .topDiv > #myImg2 {
        display: block;
        margin: 0 auto;
        width: 92%;
        height: 65%;
        top: 26px;
        left: 22px;
    }

    .restaurant-logo {
        width: 60px;
        padding: 20px 0 0;
        position: absolute;
    }

        .restaurant-logo span {
            display: block;
        }

        .restaurant-logo img {
            width: 60px;
            height: auto;
            border-radius: 100px;
            margin-right: 200PX;
            float: left;
            top: 17px;
            left: -210px;
            align-content:flex-start;
        }
        .nav .pull-left {
            padding: 0px 0px 0px 90px;
        }
</style>
<style>
    div.connect-cat {
        float: left;
        width: 125px;
        height: 130px;
        overflow: hidden;
        margin: 0 16px 20px 16px;
        border: 1px solid #ffffff;
        border-right: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

        div.connect-cat:hover {
            border: 1px solid #dedede;
            -webkit-background-clip: padding-box;
            -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 4px 12px 0px, rgba(255, 255, 255, 0.496094) 0px 1px 0px 0px inset;
            box-shadow: rgba(0, 0, 0, 0.398438) 0px 4px 12px 0px, rgba(255, 255, 255, 0.496094) 0px 1px 0px 0px inset;
            background-clip: padding-box;
        }

    #box {
        margin: 20px;
    }

    }
</style>

    @*@foreach (var item in ViewBag.res)
    {

        <a href="@Url.Action("Menu", "Restaurant", new { search = item.Name })">
            
                <div class="index-wrap">
                    <div class="image-wrap topDiv">
                        <img src="@item.ImagePath" alt="@item.Name" id="myImg2" style="border-radius:8px" />
                    </div>
                    <div class="nav navbar-left innerDiv">
                        <br />
                        <div class="restaurant-logo pull-left">
                            <span><img src="@item.Icon" lazy-img="@item.Icon" /></span>
                        </div>
                        <div class="pull-left">
                            <p style="font-weight:900;float:left;">@item.Name @item.Location</p><br />
                            <p style="font-size:10px;float:left;">@item.ItemType</p>
                        </div>
                     
                    </div>
                </div>         
        </a>
    }*@


<ul id="myUL" style="color:#ffffff">
    <li>

    @foreach (var item in ViewBag.res)
    {

        <a href="@Url.Action("Menu", "Restaurant", new { search = item.Name })">

            <div class="index-wrap">
                <div class="image-wrap topDiv">
                    <img src="@item.ImagePath" alt="@item.Name" id="myImg2" style="border-radius:8px" />
                </div>
                <div class="nav navbar-left innerDiv">
                    <br />
                    <div class="restaurant-logo pull-left">
                        <span><img src="@item.Icon" lazy-img="@item.Icon" /></span>
                    </div>
                    <div class="pull-left">
                        <p style="font-weight:900;float:left;">@item.Name @item.Location</p><br />
                        <p style="font-size:10px;float:left;">@item.ItemType</p>
                    </div>

                </div>
            </div>
        </a>
    }
    </li>
</ul>

<script type="text/javascript">
    function myFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>
