@model IEnumerable<ApplicationCore.Entities.Restaurants>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    
    .brands-section .brans-restuarants ul li input {
        display: none;
    }
    .brands-section .brans-restuarants ul li .image {
        display: none;
    }
    input[type="radio"] {
        margin: 3px 3px 0px 5px;
    }
    *, input {
        box-sizing: border-box;
    }
    label {
        cursor: default;
    }
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .restaurant-logo {
        height: 80px;
        text-indent: -9999em;
        width: 140px;
        background-repeat: no-repeat;
        position: absolute;
        margin-left: -80px;
        background-size: 50%;
    }
    .img-inline{
        display: inline-block;
        float:left;
        clear:both;
        padding:20px 20px 20px 230px;
    }
    #brandbox-section {
        height: 320px;
        width: 100%;
        border-color: #000000;
        border: 2px solid;
        border-radius: 8px;
        background-color: #ffffff;
        margin-bottom: 320px;
    }
</style>


@if (ViewBag.res != null)
{
    <div class="brands-section" id="brandbox-section">
        <h3 class="title">What do you feel like? </h3>
        <h2 class="subtitle">Get it delivered from over 1600 restaurants, including SA' favourites...</h2>
        <div class="img-inline">
            <img src="~/images/brands/panarottis.PNG" />
            <img src="~/images/brands/wimpy.PNG" />
            <img src="~/images/brands/spur.PNG" />
            <img src="~/images/brands/simplyasia.PNG" />
            <img src="~/images/brands/roccomamas.PNG" />
            <img src="~/images/brands/ob.PNG" />
            <img src="~/images/brands/nandos.PNG" />
            <img src="~/images/brands/kfc.PNG" />
            <img src="~/images/brands/colcacchio.PNG" />
        </div>
    </div>
}
else
{

    <ul id="myUL" style="color:#ffffff">
        <li>

            @foreach (var item in ViewBag.res)
            {

                <a href="@Url.Action("Menu", "Restaurant", new { search = item.Name })" name="search">

                    <div class="index-wrap">
                        <div class="image-wrap topDiv">
                            <img src="@item.ImagePath" alt="@item.Name" id="myImg2" style="border-radius:8px" />
                        </div>
                        <div class="nav navbar-left innerDiv">
                            <br />
                            <div class="restaurant-logo pull-left">
                                <span><img src="@item.Icon" lazy-img="@item.Icon" /></span>
                            </div>
                            <div class="pull-left">
                                <p style="font-weight:900;float:left;">@item.Name @item.Location</p><br />
                                <p style="font-size:10px;float:left;">@item.ItemType</p>
                            </div>

                        </div>
                    </div>
                </a>
            }
        </li>
    </ul>

}